@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    font-family:"Handjet", sans-serif;
    overflow-x: hidden;
}
/*es el fondo de pantalla*/
.wrapper{
  width: 100vw;
  height: 100vh;
  background-color:#556b2f;
  color:#ffff;
}
/*es la parte superior que se refleja el menu y las iniciales o navegador */
.navbar{
    display: flex;
    justify-content:space-between;
    padding:2em;
}

.brand{
    margin-top: -7px;
}


/*color dorado de la M*/
.brand span{
 color:gold;
}

/*para espaciar la barra del menu*/
.menu{
    display: flex;
    width:50%;
    justify-content: space-around;
}
/*por si quieres ponerle puntos al menu*/
.menu li{
    list-style:none ;
}
/*Etiquetas*/
.menu a { 
    color: #ffff;
    text-decoration:none;
    padding: 10px 20px;
}

.menu .Activo{
    color:gold;
}

.menu a:hover {
    background-color:#f7f7f5e2;
    color:black;
    transition: ease-in.4s;
}

.main{
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

h1{
    font-size:3em;
}

span{
    color:gold;
}

.download {
    display: inline-block;
    border-radius: 7px;
    border: none;
    background: #ebef0f;
    color: white;
    font-family: inherit;
    text-align: center;
    font-size: 13px;
    box-shadow: 0px 14px 56px -11px #cedf10;
    width: 10em;
    padding: 1em;
    transition: all 0.4s;
    cursor: pointer;
   }
   
   .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
   }
   
   .button span:after {
    content: 'for free';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.7s;
   }
   
   .button:hover span {
    padding-right: 3.55em;
   }
   
   .button:hover span:after {
    opacity: 4;
    right: 0;
   }

   .main img {
    width: 350px;
    border:7px solid gold ;
   }

   .about{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;
   }
/*imagen que tengo en sobre mi*/
.about img{
    width: 100%;
    grid-column: 1/5;
    padding-left: 2em;
}

.about-info{
    grid-column:  5/10;
    padding: 3em;
}

.fuente-2{
  font-family: "Monserrat", sans-serif;
}
.about-info h2 {
  font-size: 3em;
  
}
/*linea que esta abajo del acerca de mi */
.divider{
    height: 4px;
    width: 80px;
    background-color:gold ;
    margin-top: 5px;
    margin-bottom: 3em;
}
/*espaciado del texto sobre el acerca de mi*/
.about p{
   margin-bottom: 1em;
   justify-content: center;

}
/*iconos de las redes sociales*/

.portafolio {
  width: 100vw;
  background-color:#556b2f;
}

.portafolio-headings{
  width: 100vw;
  padding: 5em;
}

.portafolio-headings h2 {
  font-size: 3.0em; 
  color: #ffffff;
}

.portafolio-headings h3{
  display: flex;
  align-self: center;
  margin: 2em;
  width: 100%;
  color:gold
}
/*contenedor*/
.portafolio .contenedor {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.tarjeta{
  width: 300px;
  background-color:#6B7A4F;
  color: #fff;
  margin: 1em;
}

.tarjeta_img{
  width: 100%;
  height: 150px;
  background-image:url(../img/2-original.png);
  background-size: cover;
}

.tarjeta_titulo{
  padding: 20px;
}



.social-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  box-shadow: 0px 0px 15px #00000027;
  padding: 15px 10px;
  border-radius: 5em;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #fff;
  box-shadow: 0px 0px 4px #00000027;
  transition: 0.3s;
}

.social-button:hover {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 6px 3px #00000027;
}

.social-buttons svg {
  transition: 0.3s;
  height: 20px;
}

.facebook {
  background-color: #3b5998;
}

.facebook svg {
  fill: #f2f2f2;
}

.facebook:hover svg {
  fill: #3b5998;
}

.github {
  background-color: #333;
}

.github svg {
  width: 25px;
  height: 25px;
  fill: #f2f2f2;
}

.github:hover svg {
  fill: #333;
}

.linkedin {
  background-color: #0077b5;
}

.linkedin svg {
  fill: #f2f2f2;
}

.linkedin:hover svg {
  fill: #0077b5;
}

.instagram {
  background-color: #c13584;
}

.instagram svg {
  fill: #f2f2f2;
}

.instagram:hover svg {
  fill: #c13584;
}